psycopg2-binary==2.8.4
arrow==0.12.1
user-agents==2.0.0
# Support for Elasticsearch7 in forked es2csv repo branch https://github.com/gboddin/es2csv/tree/es-7.0
-e git+https://github.com/rootpd/es2csv.git@bd40777a731343b56ef8e13fab80166d2792ad5e#egg=es2csv
python-dotenv==0.9.1
unidecode==1.0.23
mysql-connector-python==8.0.19